{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block title %}AppBundle:Dishes:index{% endblock %}

    {% block navbar %}
    <nav id="mainNav" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand cursive" href="{{ path('app_index_photoslist') }}">Main</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if not is_granted('ROLE_USER') %}
                    <li><a href="{{ path('fos_user_registration_register') }}">
                            Registration
                        </a>
                    </li>
                    <li><a href="{{ path('fos_user_security_login') }}">
                            Login
                        </a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li>
                            <a href="{{ path('app_user_index', {'id': app.user.id}) }}">{{ app.user.username }}</a>
                        </li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li>
                            <a href="{{ path('sonata_admin_dashboard')}}">Room of God</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% endblock navbar %}
    {% block content %}

    {% endblock %}