{% extends "@App/main.html.twig" %}
{% block title %}AppBundle:index:list{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img class="img-responsive" src="{{ vich_uploader_asset(photo, 'photo') }}"/>
                <h3>Опубликовал: <a class="photo_data" href="{{ path('app_user_index', {'id': photo.author.id}) }}"><span>{{ photo.author.username }}</span></h3></a>
                <h3>Average Score: <span class="photo_data">{{ avg|number_format(1) }}</span></h3>

                <hr>
                <i class="commTitle">Commentaries:</i>
                {% for commentary in commentaries|reverse(true) %}
                    <div class="commContent">
                        <h5>Автор: <b>{{ commentary.author.username }}</b>, Оценка: <b class="score">{{ commentary.score }}</b></h5>
                        <h4 class="comm">{{ commentary.commentary }}</h4>
                    </div>
                    {% else %}
                    <h3 class="noComments">There are no any commentaries!</h3>
                {% endfor %}
                {% if is_granted('ROLE_USER') %}
                     {{ form(commForm) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}