{% extends "@App/main.html.twig" %}
{% block title %}AppBundle:index:list{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for photo in photos|reverse(true) %}
                <div class="col-lg-4 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img class="imm" src="{{ vich_uploader_asset(photo, 'photo') }}"/>
                        <div class="caption">
                            <h3><b>By </b>{{ photo.author.username }}</h3>
                            <p><h4><b>Name:</b> <span class="photoName">{{ photo.name }}</span></h4></p>
                            <p><a href="{{ path('app_user_index', {'id': photo.author.id}) }}" class="btn btn-primary" role="button">{{ photo.author.username }}</a>
                            <a href="{{ path('app_photo_photo', {'photo_id': photo.id}) }}" class="btn btn-default" role="button">{{ photo.name }}</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}