{% extends "@App/main.html.twig" %}
{% block title %}AppBundle:index:list{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% if is_granted('ROLE_USER') and app.user.id == user.id %}
                <a class="edit-btn" href="{{ path('fos_user_profile_edit') }}">Edit profile</a>
            {% endif %}
            <h2 class="username">{{ user.username }}</h2>

            {% if is_granted('ROLE_USER') and app.user.id == user.id %}
                 {{ form(addForm) }}
            {% endif %}

            {% for photo in photos|reverse(true) %}
                <div class="col-lg-4 col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img class="imm" src="{{ vich_uploader_asset(photo, 'photo') }}"/>
                        <div class="caption">
                            <h3>{{ photo.name }}</h3>
                            {% if is_granted('ROLE_USER') and app.user.id == user.id %}
                            <p>{{ form(deleteForm[photo.id]) }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



    <h1></h1>

{% endblock %}