{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <div class="col-lg-offset-4 col-lg-4">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
        <div>
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
    {{ form_end(form) }}
    </div>
    <div class="col-lg-offset-3 col-lg-4">
        <a href="{{ path('fos_user_security_login') }}"><h3>Уже есть аккаунт? Войдите!</h3></a>
        <a href="{{ path('app_index_photoslist') }}"><h3>Продолжить анонимно</h3></a>

    </div>
</div>
