.commContent {
    margin-bottom: 30px;
    margin-top: 15px;
    border-bottom: 1px solid #0ef5ff;
}

.commTitle {
    color: red;
}

.photo_data {
    color: #ff0200;
}

.score {
    color: #2a6300;
}

.thumbnail .imm {
    width: 300px;
    height: 200px;
    border-radius: 2px;
}

.username {
    color: #4f544b;
    border-bottom: solid 2px #e70000;
}

.noComments {
    color: #29ff0e;
    text-align: center;
    padding: 20px;
}

.collapse {
    background-color: #fffefa;
}

.edit-btn {
    padding: 10px;
    border-radius: 3px;
    background-color: #f4fffc;
    border: 1px solid blue;
    color: #0d09ff;
    float: right;
    margin: 10px 10px 20px 0;
}

.edit-btn:hover {
    color: #0d09ff;
    text-decoration: none;
}

.photoName {
    color: #000000;
}