{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required" />
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
        </div>
        <div class="col-lg-offset-3 col-lg-4">
            <a href="{{ path('fos_user_registration_register') }}"><h2>Регистрация</h2></a>
            <a href="{{ path('app_index_photoslist') }}"><h3>Продолжить анонимно</h3></a>
        </div>
    </div>
</div>
{% endblock fos_user_content %}

